body {
  overflow-y: hidden;
}

#title-text {
  font-family: 'Sacramento', cursive;
  font-size:100px;
  color: #1D1D1D;
}

.external-container {
  text-align: center;
  background-color: #FDFDFD;
  height: 100vh;
}

.body-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 40px;
  color: #1D1D1D;
  font-weight: 300;
}

.body-text-bold {
  font-weight: 400;
}

.body-container {
  width: 50vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-80%, -40%);
  text-align: left;
}

.image-container-inner {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}

.image-container {
  width: 213px;
  height: 100vh;
  position: absolute;
  left: 60%;
  top: 0%;
  transform: translate(-10%, 0%);
  text-align: left;
  overflow: hidden;
}

img {
    width: 213px;
    height: 443px;
    padding-bottom: 15px;
}

.footer {
  position: absolute;
  bottom: 120px;
}

a{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:12px;
  color: #1D1D1D;
}

.appstore {
  height: 100px;
  padding-top: 30px;
}

.appstore img {
    width: auto;
    height: auto;
    padding-bottom: 0px;
}
